.container{
    display: none;
    padding: 10px;
    background-color: gray;
    border:5px solid black;
    color: red;
}

.country{
    color: black;
    background-color: white;
    display: inline-block;
    margin: 10px; 
    padding: 10px;
    border-radius: 10px ;
    max-width: 45%;

}

.country img{
    position: relative;
    top: 0;
    height: 350px;
    max-width: 100%;
    
}

.country h1{
    margin: 0 10px;
}

.country h3{
    color: gray;
    margin: 0 10px 30px;
}

.country p{
    color: gray;
    margin: 20px 10px;
}

.country + .country{
    transform: scale(0.9);
}