*{
    padding: 0;
    margin:0;
    
}
body{
    width:100vw;
    height: 100vh;
}
.egg{
    position:absolute;
    transition:all ease-in 0.1s;
    height: 200px;
}

.basket{
    position:absolute;
    transition:all ease-in 0.1s;
    width: 200px;
}