*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#root{
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-container > .row{
  flex: 1;
}

.main {
  padding: 10px;
}

aside{
  background-color: #faf6f6;
}


.product-wrapper {
  height: 500px;
  overflow: hidden;
}
.products-contianer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}
