.formBtn{
    position: relative;
    left: 40px;
    width: 100px;
    margin: 20px 10px;
}

textarea{
     margin-top: 10px;
     vertical-align: top;
}
.post{
    position: relative;
    margin: 10px 5px;
    border: 2px solid gray;
    border-radius: 5px;
}

.post h3{
    margin: 0;
    padding: 5px;
    background-color: #eee;
    border-bottom: 5px solid #ddd;
}

.post span{
    position: absolute;
    top: 0;
    right: 5px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.post span:hover{
    background-color: rgba(231, 145, 31, 0.5);
}
.editBtn{
    right:30px !important;
}

